<div class='search-input'>
  Search: {{input value=query}}
</div>

<div>
  <table>
    {{#each medicalCodes as |medicalCode|}}
      <tr>
        <td>
          {{#if medicalCode.needsPostCoord}}
          <a href="javascript:void(0)" {{action 'codeSelected' medicalCode}}>{{medicalCode.description}} ({{medicalCode.icd10_description}} - {{medicalCode.icd10_code}})</a>
          {{else}}
            {{medicalCode.description}} ({{medicalCode.icd10_description}} - {{medicalCode.icd10_code}})
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </table>
</div>
